#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0 4em 0;
}

.about-h1 {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

.about-h4 {
  text-align: center;
}

.about-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5em;
  width: 100%;
  font-size: 1.1em;
  font-family: 'Josefin Sans', sans-serif;
  outline: none;
}

.para-links {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  padding: 20px 20px;
}

.img-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
  border-radius: none;
  max-width: 100%;
  height: auto;
  border-top: 2px solid black;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  background-color: none;
  padding: 1em 0
  /* width: 50%; */
}

.about-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px 0;
  margin: 1em 0 0 0;
}

.about-links>div {
  display: flex;
  justify-content: center;
}

.about-hover:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  transition: 0.1s;
}

.about-img {
  width: 300px;
  padding: 0;
  border-radius: 50%;
}

.about-btn {
  width: 100%;
  height: 40px;
  border-radius: none;
  background-image: url('../../assets/img/profile/aa_actionshot_1.webp');
}

.about-btn:hover {
  background-image: none;
}

.about-btn-text:hover {
  background-color: black;
  transition: 0.1s;
}

.about-btn-text {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.719);
  color: white;
  position: relative;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

.about-btn-text>div {
  display: flex;
  flex-direction: row;
}

.about-btn-display {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.para {
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  padding: 0 7em;
}

.line-1 {
  animation: moveLeft 0.5s ease-in-out;
  border-top: 2px solid black;
  width: 15%;
}

.line-2 {
  margin-top: 10px;
  border-top: 2px solid black;
  width: 10%;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}