.logo {
  width: 100px;
  display:flex;
  height:auto;
}

.hover:hover {
  padding: none;
  color: white;
  border-bottom: 2px solid white;
  border-top: 2px solid white;



}



.nav-theme {
  /* background-color: rgba(0, 0, 0, 0.719); */
  background-color: transparent;
  font-size: 18px;
  width:100%;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  height: 60px;


}

.nav-theme.active {
  background-color: rgba(0, 0, 0, 0.719);
  
}

 .navbar-nav{

  flex-direction:row;
  justify-content: space-evenly;
  
}

a{
  color:white;
}

.navbar-dark .navbar-nav .nav-link{
  color:white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  
}

.navbar-dark .navbar-nav .nav-link:hover {

  color: white;

}

.animate-navbar {
  opacity: none;
  box-shadow: none;
  animation: moveDown 0.5s ease-in-out;
}


@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }

  to {
    transform: translateY(0rem);
  }
}