






.logo {
    width: 12%;
  }

.hover:hover{
  padding:none;
  color:white;
  border-bottom: 2px solid white;
  transition: 3s ease;

}

  .nav-theme {
    background-color:rgba(0, 0, 0, 0.719);
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
   
  }

  
  .animate-navbar {
    
  }
  
  .animate-navbar {
    opacity: none;
    box-shadow:none;
    animation: moveDown 0.5s ease-in-out;
  }

  
  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }
  