.custom-img {
    height: 100vh;
    object-fit: cover;
  }

  .arrow-link{

    position: absolute;
    color:white;
    /* width:300px; */
    
    bottom:2px;
    
  }

  .tobottom:hover{
    color:white;
    border-top: 2.5px solid white;
    
    
  }
  