

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  width:10px;
  
}

::-webkit-scrollbar-track{
  background-color: none;
}

::-webkit-scrollbar-thumb{
  background:rgb(0, 0, 0);
  border-radius: 25px;
  height: 25px;
  
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
a {
  text-decoration: none;
}
a:visited{
  color: black
}

ul {

  list-style-type: none;
 
}
h1 {
  text-align:center;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  height: 70px;
  opacity: 0.9;
  background-color:none;
  /* background-image: url("./images/Gradient-Abstract-Shapes-Background-Orange.jpg"); */
  /* background-color:rgb(241, 241, 241); */
  background-size:cover;
  box-shadow: 2px 2px 2px #565656;
  margin-bottom: 1rem;
  /* border-top: 3px solid #565656; */
  /* border-bottom: 3px solid #565656; */
  font-family: 'Josefin Sans', sans-serif;
  /* position:fixed; */
}
.nav-logo{

  height: 50px;
}

.nav-logo:hover{
  transform:scale(1.3);
  transition: all 0.3s;
}

.line-separator{
  display:none;

}

.logo{
  display:flex;
  flex-direction:row;
  text-transform:uppercase;
  color: #565656;
  font-family: 'Exo', sans-serif;
}
.navlist{

  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  
  
}

.contact-link {
  margin-left: 40px;
  border: 3px solid black;
  text-transform: uppercase;
  padding: 10px;
  font-size: 14px;
  font-weight:bold;
}

.contact-link:hover{
  border: dotted;
  padding: 15px;
  background-color: white;
  transition: all 0.3s;
}
.hover-li {
  margin-left:40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight:bold;
  position: relative;
}

.hover-li::before{
  content:'';
  position: absolute;
  width:100%; 
  height:1px;
  bottom:-5px;
  background-color: #565656;
  transform: scale(0);
  transition: all 0.3s;
}

.hover-li:hover::before{
  transform: scale(1.3);
 

}

#home {
  /* display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align:center; */
  background-color:white;
  width:100%;
  height: auto;
 
}

.i {

  position: absolute;
  width:100%;
  color: black;
}
#portfolio {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 1em;
  row-gap:1em;
  margin: 20px;
}

#portfolio div{
  width:auto;
  height:300px;
  border: 3px solid black;
  border-radius: 25px;
}

.round-img {
  border-radius: 50%;
  width:200px;
  height: 200px;
  border: 2px solid black;
}

@media only screen and (max-width: 700px) {
.navbar{
  height: auto;
}

.main-home-container{
  padding-top:300px;
}
 .navlist{
   /* padding: 20px 10px 10px 0; */
   align-items:center;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
 }
 .navlist li{
   display:flex;
   text-align:center;
   margin-left: 0;
   margin-bottom: 20px;
   font-size:20px;
   align-items: center;

 }
 .line-separator{
   display:flex;
  border:2px solid #565656;
  height: 125px;
  margin: 0 10px;
 }
 .logo{
  align-items: center;
  text-align:center;
  font-size:auto;

 }

}